body {
  background-color: #202020;
  color:#fff;
}

.pointer {
  cursor: pointer;
}

.App, h1 {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 50px;
}

.searchInput input {
  width: 100%;
  color: #fff;
  background-color: #080808;
  border: solid 2px;
}

.searchIcon {
  color:#fff;
}

.searchResult {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
  gap: 32px;
}

.movieCard {
  max-width: 250px;
}
.movie img {
  max-width: 100%;
}

.modal {
  background: rgb(63, 50, 50);
  padding: 24px;
  margin: 0 48px;
}

.modalInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 24px;
}

.modal img {
  max-width: 80%;
  padding-bottom: 64px;
  justify-self: center;
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
}

h2 {
  margin: 0;
}

.movieDescription {
  margin-bottom: 32px;
}